.primary-button{
    display: inline-block;
    background: #FFA100;
    border: 1px solid #FFA100;
    color: #FFFFFF;
    border-radius: 21px;
    padding: 7px 30px;

    &:hover{
        text-decoration: none;
        color: #FFFFFF;
    }
}

.secondary-button{
    display: inline-block;
    background: #A91F23;
    border: 1px solid #A91F23;
    color: #FFFFFF;
    border-radius: 21px;
    padding: 7px 30px;

    &:hover{
        text-decoration: none;
        color: #FFFFFF;
    }
}

.transparent-button{
    display: inline-block;
    background: transparent;
    color: #FFFFFF;
    border-radius: 21px;
    padding: 7px 30px;
    border: 1px solid #FFFFFF;

    &:hover{
        text-decoration: none;
        color: #FFFFFF;
    }
}
.arrow-btn{
    display: inline-block;
    width: 38px;
    height: 38px;
    line-height: 30px;
    border: 4px solid #FFFFFF;
    border-radius: 50%;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;

    &:hover{
        color: #FFFFFF;
    }
}
