.primary-color{
    color: #A91F23 !important;
}
.secondary-color{
    color: #FFA100 !important;
}
.primary-background{
    background-color: #A91F23 !important;
}
.secondary-background{
    background-color: #FFA100 !important;
}
.section-bg-gray{
    background-color: #E2E2E2 !important;
}
.text-primary-gray{
    color: #898989 !important;
}
.text-primary-black{
    color: #1B1E28 !important;
}
