.website-logo{
    width: 123px;
}
.remove-list-style{
    ul,li{
        list-style: none;
        margin: 0;
        padding: 0;
    }
}
.section{
    padding: 90px 0;
}
.sub-section{
    padding: 70px 0;
}
.section-header{
    margin-bottom: 35px;
}

.overlay{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(230,230,230, .4);
}
.overlay-maroon{
    position: absolute;
    background-color: rgba(169,31,35,.85);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.overlay > div{
    position: relative;
}
.content-on-overlay{
    position: relative;
    z-index: 2;
}
.triangle-gray{
    position: absolute;
    width: 50%;
    background-color: #BCBCBC;
    top: 86%;
    left: 50%;
    right: 0;
    bottom: 0;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}
.triangle-maroon{
    position: absolute;
    width: 50%;
    background-color: #A91F23;
    top: 0;
    left: 0;
    right: 0;
    bottom: 73%;
    clip-path: polygon(100% 1%, 0 0, 0 100%);
}
