.reviewer-img{
    width: 64px !important;
    height: 64px !important;
    border-radius: 50% !important;
}
.tag-img{
    width: 196px !important;
}
.feedback{
    position: relative;
    background-position: 150% 150%;
    background-repeat: no-repeat;
    clip-path: polygon(100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);

}

