footer{
    a{
        &:hover{
            text-decoration: none;
        }
    }
    ul.footer-social-icons{
        display: flex;
        justify-content: space-between;
        li{
            a{
                display: inline-block;
                font-size: 29px;
                color: #C6C6C6;
            }
        }
    }

    .footer-form{
        margin-top: 15px;
        .input-group-append{
            .join-btn{
                color: #FFFFFF;
                background-color: #FFA100;
                border: 1px solid #FFA100;
            }
        }
    }

    .footer-bottom{
        background: black;
        padding: 10px 0;
        ul{
            li{
               a{
                   border-right: 1px solid #FFFFFF;
                   padding: 0 10px;
               }
            }
            li:first-child{
                a{
                    padding-left: 0;
                }
            }
            li:last-child{
                a{
                    border: 0;
                }
            }
        }
    }
}
