.signup-form{
    .form-inline{
       flex-flow: row;
        justify-content: space-between;

        input{
            width: 100%;
            border-radius: 0;
            border: none;
        }
        button{
            width: 100%;
            border-radius: 0;
            border: 1px solid #A91F23;

            &:hover{
                color: #FFFFFF;
                background: #A91F23;
            }
        }
    }
}
