/*Packages CSS*/
.packages{
    position: relative;
    clear: both;
    clip-path: polygon(50% 0%, 100% 15%, 100% 100%, 0 100%, 0 15%);
}


/*Awesome App CSS */
.awesome-app{
    position: relative;

    img.laptop{
        position: absolute;
        top: 0;
        right: 0;
        margin-top: -33px;
        max-width: 60%;
    }
}

//Demo CSS Section
.demo{
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
