.icon-w-49{
    width: 49px;
}
.services{
    .card{
        margin-bottom: 20px;
        border: 0;
        .card-body{
            padding: 0;

            p{
                font-size: 14px;
            }
        }
    }
}
