//Headings

.section-heading{
    font-size: 39px;
    font-weight: 700;
    color: #1B1E28;
    font-weight: 600;
}
.sub-heading-white{
    font-size: 26px;
    color: #FFFFFF;
    font-weight: 600;
}
.sub-heading-black{
    font-size: 30px;
    color: #1B1E28;
    font-weight: 600;
}
.regular-heading{
    font-size: 36px;
    color: #1B1E28;
    font-weight: 600;
}
.large-heading{
    font-size: 51px;
    color: #FFFFFF;
    font-weight: 600;
}
.footer-list-heading{
    font-size: 15px;
    margin-bottom: 5px;
    color: #1B1E28;
    font-weight: 900;
}
//Paragraphs
.tagline{
    font-size: 18px;
    color: #FFFFFF;
}
.heading-description-white{
    font-size: 19px;
    color: #FFFFFF;
}
.section-description-black{
    font-size: 21px;
    color: #1B1E28;
}
.section-description{
    font-size: 21px;
    color: #898989;
}

.section-description-sm{
    font-size: 16px;
    color: #898989;;
}
.small-detail{
    font-size: 15px;
    color: #1B1E28;;
}
.card-heading{
    font-size: 24px;
    color: #1B1E28;
    font-weight: 700;
}
.card-detail{
    font-size: 12px;
    color: #898989;
}

.footer-list-item{
    font-size: 12px;
    color: #898989;

    &:hover{
        text-decoration: none;
        color: #898989;
    }

}

