.preview-img{
    width: 150px;
    height: 120px;
    object-fit: cover;
}

.img-container{
    position: relative;
    outline: 1px solid #e1e1e1;
    .img-container-layer{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(241,241,241,1);
        padding: 10px;
        display: none;
        z-index: 3;
        .details{
            display: flex;
           .name{
               margin-top: -4px;
               word-break: break-all;
               i,p{
                   color: #353535;
                   font-weight: 600;
                   font-size: 12px;
               }
               p{
                   margin: 0;
                   line-height: 1.4;
                   font-size: 12px;

                   display: -webkit-box;
                   -webkit-line-clamp: 3;
                   -webkit-box-orient: vertical;
                   overflow: hidden;
               }
           }
        }
    }
    .image-flex-wrapper{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background: #e1e1e1;
        .image-flex{

            .flex-details{
                display: flex;
                align-items: center;
                padding: 2px 7px;
            }
        }
        .image-flex::after{
            content: "";
            position: absolute;
            background: #f0f2f5;
            right: 0;
            left: 87%;
            bottom: 0px;
            top: 22%;
            z-index: 1;
        }
    }
}
.img-container:hover .img-container-layer{
    display: block;
    border: 1px solid #e1e1e1;
}

//Shape CSS
.shape-wrapper{
    position: absolute;
    bottom: 0;
    right: 0;
    .shape{
        display: flex;
        position: relative;
        .top-triangle{
            border-top: 10px solid red;
            border-left: 10px solid red;
            border-bottom: 10px solid transparent;
            border-right: 10px solid transparent;
            position: relative;
            z-index: 2;
        }
        .bottom-triangle{
            border-top: 10px solid transparent;
            border-left: 10px solid transparent;
            border-bottom: 10px solid rgba(0,0,0,0.3);
            border-right: 10px solid rgba(0,0,0,0.3);
            position: absolute;
            right: 20px;
        }
    }
}


