<template>
    <span v-if="errors" class="invalid-feedback" role="alert">
        <strong v-for="error in errors[field]">{{ error }}</strong>
    </span>
</template>

<script>
    export default {
        props: ['errors', 'field'],
    }
</script>

<style scoped>

</style>
