<template>
    <div v-if="errors" class="bg-danger text-white py-2 px-4 pr-0 rounded font-bold mb-4 shadow-lg">
        <div v-for="(v, k) in errors">
            <p v-for="error in v" class="text-sm">
                {{ error }}
            </p>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['errors'],
    }
</script>

<style scoped>

</style>
