<template>
    <div class="modal fade border-0" id="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <slot></slot>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "modal"
    }
</script>

<style scoped>

</style>
