ul.checktree {
    margin: 3px;
    padding: 0;
}

ul.checktree, ul.checktree ul {
    list-style-type: none !important;
}

ul.checktree li:before {
    height: 1em;
    width: 12px;
    border-bottom: 1px dashed;
    content: "";
    display: inline-block;
    top: -0.3em;
}

ul.checktree li {
    border-left: 1px dashed;
}

ul.checktree li:last-child:before {
    border-left: 1px dashed;
}

ul.checktree li:last-child {
    border-left: none;
}

ul.checktree li input {
    margin-right: 5px !important;
}

ul.checktree>li:first-child:before {
    border-left: none;
    border-bottom: none;
}

/* Hide Show*/
.checktree .plus ~ ul {
    display: none;
}
