.cursor-pointer{
    cursor: pointer !important;
}

.tr-bt-0 > th, .tr-bt-0 > td{
    border-top: 0 !important;
}

.rounded-right-0{
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.block-option-selected{
    color: #fff !important;
    background-color: #3f9ce8 !important;
    border-color: #197ed1 !important;
    border-radius: 0 !important;
}

/* header bar list */
.content-header-section .dropdown-menu-right ul li a {
    margin-bottom: 5px !important;
  }
.content-header-section .dropdown-menu-right ul li a:hover {
background-color: #eee;
}

/* width */
::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #D3D3D3;
    border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #778899;
    border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #A9A9A9;
}

/* social icon on customer view */
.social-link-icon{
    width: 22px;
    height: 22px;
    margin-right:15px;
}
.social-link-icon:hover{
    opacity: .6;
    transition: .4s;
}

