/*!
 *
 * 47Admin - Bootstrap Admin Theme
 *
 * Version: 2.0
 * Author: @geedmo
 * Website: http://geedmo.com
 * License: https://codecanyon.net/licenses/standard
 *
 */
body {
  background-color: #f0f0f0; }
  body section,
  body footer {
    padding: 80px 0; }
  body .wrapper {
    -webkit-overflow-scrolling: touch; }

header {
  min-height: 100%;
  padding-bottom: 60px;
  text-align: center;
  background-image: url("../images/landing/background.jpg");
  background-repeat: no-repeat;
  background-color: #fff;
  background-attachment: fixed; }
  header > .container {
    height: 100%; }
  header nav {
    padding: 40px 0 20px; }
  @media (min-width: 992px) {
    header {
      background-size: 100% 100%;
      height: 100%;
      padding-bottom: 0; } }

.header-content {
  height: 80%;
  color: #fff; }
  .header-content .row-table,
  .header-content .row-table > [class*='col-'] {
    display: block; }
  @media (min-width: 992px) {
    .header-content {
      color: #888; }
      .header-content .row-table {
        display: table; }
        .header-content .row-table > [class*='col-'] {
          display: table-cell; }
      .header-content .browser-presentation {
        margin-right: -12%; }
      .header-content .side-presentation {
        text-align: left;
        padding-left: 15%; } }

.logo-wrapper {
  display: inline-block;
  max-width: 90px;
  height: auto;
  border: 2px solid #fff;
  padding: 10px 8px 8px;
  border-radius: 3px; }

.store-list {
  margin: 80px 0;
  justify-content: center; }
  .store-list img {
    max-width: 140px; }
  @media (min-width: 992px) {
    .store-list {
      justify-content: start; } }

.section-header {
  text-align: center;
  margin-bottom: 80px; }

#clients img {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px; }

#testimonial .carousel {
  min-height: 200px; }
  #testimonial .carousel .item {
    text-align: center;
    margin: 0 auto; }
    #testimonial .carousel .item > .row {
      margin-bottom: 50px; }
    #testimonial .carousel .item h4 {
      font-weight: normal;
      font-style: italic;
      line-height: 1.4; }

#callout {
  background-image: url("../images/landing/callout.jpg");
  background-repeat: no-repeat;
  background-color: #fff;
  background-attachment: fixed; }
  @media (min-width: 992px) {
    #callout {
      background-size: 100% auto; } }

.feature-list {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .feature-list > li {
    margin-bottom: 30px; }
    .feature-list > li:last-child {
      margin-bottom: 0; }
    @media (min-width: 992px) {
      .feature-list > li {
        margin-bottom: 70px; } }
  .feature-list .point {
    margin-bottom: 1px; }

.footer-1 form > h5,
.footer-1 nav > h5 {
  color: #fff;
  font-size: 14px;
  font-weight: bold; }

.footer-1 nav > ul > li > a {
  color: #989898; }
  .footer-1 nav > ul > li > a:hover, .footer-1 nav > ul > li > a:focus {
    color: #fff;
    text-decoration: none; }

.footer-2 {
  padding-top: 0;
  padding-bottom: 30px;
  background-color: #333;
  text-align: center; }
  .footer-2 a {
    color: #989898; }
  .footer-2 p {
    margin: 0; }
  .footer-2 [class*='col-'] {
    padding-top: 30px; }
  .footer-2 .logo-column {
    text-align: center;
    padding-top: 30px; }
  @media (min-width: 992px) {
    .footer-2 {
      text-align: left; } }

.perspective-right {
  box-shadow: 20px 30px 20px rgba(0, 0, 0, 0.25);
  border-radius: 0.25rem; }
  @media (min-width: 1200px) {
    .perspective-right {
      transform: scale(1) perspective(1000px) rotateY(-10deg) rotateX(3deg) rotate(3deg); } }

.perspective-left {
  box-shadow: -20px 30px 20px rgba(0, 0, 0, 0.25);
  border-radius: 0.25rem; }
  @media (min-width: 1200px) {
    .perspective-left {
      transform: scale(1) perspective(1000px) rotateY(10deg) rotateX(3deg) rotate(-3deg); } }
