.wd-45P{
    width: 45%
}

.theme-primary-color{
    color: $theme-corporate-primary;
}
.extension-input{
    border: 1px solid #d8e1e1;
    padding: 5px;
}
.resize-none{
    resize: none;
}
.add-another-contact, .add-another-project{
    display: flex;
    align-items: center;
}

