<template>
    <div class="row">
        <div class="col-md-7 col-xl-6">
            <div class="block">
                <div class="block-header block-header-default">
                    <h3 class="block-title">Constants Group</h3>
                    <div class="block-options">
                        <div class="input-group ">
                            <input type="text" name="q" class="form-control" placeholder="Search"
                                   v-model="query" @keyup="search()">
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <i class="fa fa-search"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block-content" data-toggle="slimscroll" data-height="68vh" data-color="#dbb826"
                     data-opacity="1" data-always-visible="true">
                    <ul class="nav nav-pills flex-column push">
                        <li class="nav-item" v-for="group in constant_group">
                            <a class="nav-link d-flex align-items-center justify-content-between "
                               @click="getInfo(group.id)" href="javascript:void(0)">
                                    <span><i class="mr-3"
                                             style="font-size:12px;">{{ group.id }}</i> {{ group.name }} </span>
                                <!--<a href="#" class="btn btn-sm btn-secondary" @click="editConstant(group)"
                                   data-toggle="tooltip" title="Edit">
                                    <i class="fa fa-pencil"></i>
                                </a>-->
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <modal-slot id="constantModal">
            <h4 class="text-center mt-2">Edit Constant</h4>
            <form @submit.prevent="updateConstant()" method="POST"
                  enctype="multipart/form-data">

                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" v-model="form.name"
                           class="form-control">
                </div>
                <div class="form-group">
                    <label for="value">Value:</label>
                    <input id="value" type="text" name="value" v-model="form.value"
                           class="form-control">
                </div>
                <div class="form-row" v-if="form.additional_data">
                    <h5 class="text-secondary text-capitalize">Addition Data</h5>
                    <div class="form-group col-12" v-for="(data, index) in form.additional_data">
                        <label for="additional_data">{{ index }}:</label>
                        <input id="additional_data" type="text" name="additional_data"
                               v-model="form.additional_data[index]"
                               class="form-control">
                    </div>
                </div>

                <div class="form-group text-center">
                    <button type="submit" class="btn btn-success btn-sm">Update</button>
                </div>
            </form>
        </modal-slot>

        <div class="col-md-5 col-xl-6">
            <div class="block">
                <div class="block-header block-header-default">
                    <h3 class="block-title">Constants List</h3>
                </div>
                <div class="block-content" data-toggle="slimscroll" data-height="68vh" data-color="#dbb826"
                     data-opacity="1" data-always-visible="true">

                    <div class="row align-items-center" v-for="constant in constants">
                        <div class="col-sm-10 py-10">
                            <h6 class="h6 font-w500 mb-1 d-inline">
                                <form method="post" class="d-inline">
                                    <label class="css-control css-control-sm css-control-success css-switch">
                                        <input type="checkbox" class="css-control-input" :checked="constant.active"
                                               @change.prevent="changeStatus(constant.constant_group_id, constant.id)">
                                        <span class="css-control-indicator"></span>
                                    </label>
                                </form>
                                {{ constant.name }}
                            </h6>
                            <p class="font-size-sm text-muted mb-0 d-inline ml-3">
                                <strong> ID: </strong> {{ constant.id }}
                                <strong class="ml-15"> value: </strong>{{ constant.key }}<br>
                                <span>{{ constant.description }}</span>
                            </p>
                        </div>
                        <div class="col-sm-2 py-10 text-md-right">
                            <a class="btn btn-sm btn-secondary mr-5 my-5" href="javascript:void(0)"
                               @click="editConstant(constant)">
                                <i class="fa fa-pencil mr-1"></i> Edit
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                constant_group: {},
                constants: {},
                form: {},
                query: '',
            }
        },
        methods: {

            getConstantGroup() {
                axios.get('api/constantsGroups')
                    .then((response) => {
                        this.constant_group = response.data;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },

            getConstant() {
                axios.get('/api/constantGroups')
                    .then((response) => {
                        this.contacts = response.data;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },

            getInfo(ConstantGroup) {
                axios.get(`/api/constantGroups/${ConstantGroup}/constants`)
                    .then((response) => {
                        this.constants = response.data;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },

            showModal() {
                this.form = Object.assign({});
                // this.editMode = false;
                $('#constantModal').modal('show');
            },

            clearForm() {
                this.form = Object.assign({});
                $('#constantModal').modal('hide');
                $('.modal-backdrop').remove();
            },

            editConstant(constant) {
                this.form = Object.assign({}, constant);
                $('#constantModal').modal('show');
                // this.editMode = true;
            },

            updateConstant() {
                axios.put(`/api/constantGroups/${this.form.constant_group_id}/constants/${this.form.id}`, this.form)
                    .then((response) => {
                        this.constants = response.data;
                        this.clearForm();
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },

            changeStatus(groupId, constantId) {
                axios.post(`/api/constantGroups/${groupId}/constants/${constantId}/changeStatus`)
                    .then((response) => {
                        this.constants = response.data;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },

            search() {
                axios.get('api/constantsGroups?q=' + this.query)
                    .then((response) => {
                        this.constant_group = response.data;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },

        },

        beforeMount() {
            this.getConstantGroup();
        },

        mounted() {
            console.log('Component mounted.')
        },

    }
</script>
