<template>
    <div class="row mb-3 image-marker">
        <div class="col-8">
            <img ref="roofImage" :src="roofImage" alt="" class="w-100 position-relative image-marker__img"
                 @click="openPenetrationForm">

            <div :key="mi" class="image-marker__marker" :style="markerStyle(marker)"
                 v-for="(marker, mi) in penetrations">
                <div class="image-marker__circle" @click="removePenetration(marker)"></div>
                <div class="image-marker__text">
                    {{ markerText(marker) }}
                </div>
            </div>

        </div>
        <div class="col-4" style="max-height: 370px; overflow-y: scroll">
            <div class="container d-flex h-100" v-if="!penetrations.length">
                <div class="row justify-content-center align-self-center">
                    <p class="text-muted font-w600">
                        <i class="fal fa-info-circle text-primary fa-2x align-bottom mr-2"></i>
                        Click on the image to mark the penetrations, selected penetrations will show up here.
                        you can remove the penetrations from here in case of mistake
                    </p>
                </div>
            </div>

            <div class="form-row mb-3  p-2 rounded" v-for="(penetration, i) in penetrations">
                <input type="hidden" :name="`penetrations[${penetration.type}][${i}][X]`" v-model="penetration.X">
                <input type="hidden" :name="`penetrations[${penetration.type}][${i}][Y]`" v-model="penetration.Y">
                <input type="hidden" :name="`penetrations[${penetration.type}][${i}][top]`" v-model="penetration.top">
                <input type="hidden" :name="`penetrations[${penetration.type}][${i}][left]`" v-model="penetration.left">
                <input type="hidden" :name="`penetrations[${penetration.type}][${i}][material_id]`" v-model="penetration.material_id">
                <div class="col-12">
                    <h5 class="mb-2">
                        Penetration {{ i+1 }}
                        <span class="mx-2" style="font-size: 14px">
                            <span @click="editPenetration(penetration)"><i class="fal fa-pencil mr-2 cursor-pointer"></i></span>
                            <span @click="removePenetration(penetration)"><i class="fal fa-trash cursor-pointer"></i></span>
                        </span>
                    </h5>
                    <hr class="my-2">
                    <p class="mb-0"><strong>Penetration Type :</strong> {{ penetration.type }}</p>
                    <p class="mb-0"><strong>Penetration Size :</strong> {{ getMaterialName(penetration) }}</p>
                </div>

            </div>
        </div>

        <div class="modal" id="penetrationModal" tabindex="-1" role="dialog" @click.self="resetPenetrationForm">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="block block-themed block-transparent mb-0">
                        <div class="block-content">
                            <h5 class="mb-2">Penetration </h5>
                            <br>
                            <div class="form-group">
                                <label>Penetration Type</label>
                                <select class="form-control" v-model="penetration.type">
                                    <option value="boot">Boot</option>
                                    <option value="vent">Vent</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Type & Size</label>
                                <select class="form-control" v-model="penetration.material_id">
                                    <option
                                        v-for="type in penetration_types[penetration.type]"
                                        :value="type.id">
                                        {{ type.name}}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group float-right">
                                <button
                                    type="button" class="btn btn-sm btn-light"
                                    data-dismiss="modal" @click="resetPenetrationForm">
                                    Cancel
                                </button>
                                <button
                                        type="button" class="btn btn-sm btn-primary"  data-dismiss="modal"
                                    @click="confirmPenetration(penetration.clickEvent)">
                                    Confirm
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    export default {
        components: {},
        data() {
            return {
                roofImage: '/images/test-roof.jpg',
                penetrations: [],
                penetration: {
                    id: '',
                    type: 'boot',
                    material_id: '',
                },
                markers: [],
            }
        },

        mounted() {
        },

        methods: {
            addPenetration(penetration) {
                this.penetrations.push(penetration);
            },

            removePenetration(row) {
                this.penetrations = this.penetrations.filter(penetration => penetration !== row);
            },

            openPenetrationForm(e) {
                $('#penetrationModal').modal('show');
                this.penetration.clickEvent = e;
            },

            resetPenetrationForm() {
                this.penetration.type = 'boot';
                this.penetration.material_id = '';
                this.penetration.clickEvent = '';
                this.penetration.id = '';
            },

            editPenetration(penetration) {
                this.penetration.type = penetration.type;
                this.penetration.material_id = penetration.material_id;
                this.penetration.id = penetration.id;

                $('#penetrationModal').modal('show');
            },

            updatePenetration() {
                let index = this.penetrations.findIndex((p => p.id === this.penetration.id));
                this.penetrations[index].type = this.penetration.type;
                this.penetrations[index].material_id = this.penetration.material_id;
                this.resetPenetrationForm();
            },

            confirmPenetration(e) {
                if (this.penetration.id !== ''){
                    this.updatePenetration();
                    return;
                }

                if (this.penetration.material_id === '') return;

                // Adding Marker
                let rect = e.target.getBoundingClientRect();

                // Calculating left and top in percentage
                let top = Math.round(((e.clientY - rect.top) / rect.height) * 100);
                let left = Math.round(((e.clientX - rect.left) / rect.width) * 100);

                // Maximum number
                let max = this.penetrations.length
                    ? this.penetrations
                        .map((m) => m.id)
                        .sort((a, b) => a - b)
                        .pop()
                    : 0;

                let X = e.clientX - rect.left;
                let Y = e.clientY - rect.top;

                this.addPenetration({
                    type: this.penetration.type,
                    material_id: this.penetration.material_id,
                    id: max + 1,
                    top, left, X, Y,
                });

                //this.handleAddMarker(e);
                this.resetPenetrationForm();
            },

            getMaterialName(penetration) {
                return this.penetration_types[penetration.type].find(p => p.id === penetration.material_id).name;
            },

            /* Marker Functions */
            markerStyle({top, left}) {
                return `
				top:${top}%;
				left:${left}%;
				transform:translate(-12px,-12px)`;
            },

            markerText(marker) {
                return marker.type === 'boot' ? `B${marker.id}` : `V${marker.id}`;
            },
        },

        props: ['penetration_types']
    }
</script>

<style scoped>
    .image-marker {
    }

    .image-marker__img {
        position: relative;
        overflow: hidden;
    }

    .image-marker__img img {
        width: 100%;
    }

    .image-marker__marker {
        position: absolute;
        text-align: center;
    }

    .image-marker__circle {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        display: inline-block;
        background-color: transparent;
        border: 3px solid red;
    }

    .image-marker__text {
        font-size: 14px;
        color: white;
    }
</style>
