<template>
    <div>
        <div class="block block-mode-loading-location">
            <div class="block-header block-header-default py-0 pl-0">
                <div class="block-options pl-0">
                    <button v-for="group in roofTypeGroups" @click="onChangeRoofTypeGroup(group)"
                            class="btn-block-option p-3"
                            :class="group.id === roofTypeGroup.id ? 'block-option-selected' : ''">
                        <i class="mr-1" :class="group.icon"></i> {{ group.name }}
                    </button>
                </div>
            </div>
            <div class="block-content">
                <div class="form-group" v-if="roofTypes.length">
                    <label for="roof_types">Roof Types</label>
                    <select id="roof_types" @change="onChangeRoofType"
                            class="form-control" v-model="estimate.roof_type_id" required>
                        <option value="">Select Roof Type</option>
                        <option v-for="roofType in roofTypes" :value="roofType.id">{{ roofType.name }}</option>
                    </select>
                </div>

                <div class="form-group" v-if="manufacturers.length">
                    <label for="roof_product_manufacturer">Product Manufacturer</label>
                    <select id="roof_product_manufacturer" @change="onChangeManufacturer"
                            class="form-control" v-model="estimate.manufacturer_id" required>
                        <option value="">Select Roofing Manufacturer</option>
                        <option v-for="manufacturer in manufacturers" :value="manufacturer.id">
                            {{ manufacturer.short_name}}
                        </option>
                    </select>
                </div>
                <div class="form-group" v-if="products.length">
                    <label for="product_line">Product Line</label>
                    <select id="product_line" class="form-control" @change="onChangeProduct"
                            v-model="estimate.product_id" required name="product_id">
                        <option value="">Select Product Line</option>
                        <option v-for="product in products" :value="product.id">{{ product.name}}</option>
                    </select>
                </div>
                <div class="form-group" v-if="series.length">
                    <label for="series">Series</label>
                    <select id="series" class="form-control" v-model="estimate.series_id" name="series_id">
                        <option value="">Select Series</option>
                        <option v-for="product in series" :value="product.id">{{ product.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <div class="custom-control custom-checkbox mb-5">
                        <label class="custom-control-label" for="insurance">For Insurance Proceeds</label>
                        <input class="custom-control-input" type="checkbox" name="insurance" id="insurance"
                               value="1">
                    </div>
                </div>
                <div class="form-group">
                    <div class="custom-control custom-checkbox mb-5">
                        <label class="custom-control-label" for="financing">Financing</label>
                        <input class="custom-control-input" type="checkbox" name="financing" id="financing"
                               value="1">
                    </div>
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary btn-sm">
                        Create Cost Estimate
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        components: {},
        data() {
            return {
                roofTypeGroup: [],

                roofType: [],
                roofTypes: [],

                manufacturer: [],
                manufacturers: [],

                product: [],
                products: [],

                seriesProduct: [],
                series: [],

                estimate: {
                    manufacturer_id: '',
                    product_id: '',
                    series_id: '',
                    roof_type_id: ''
                }
            }
        },
        mounted() {
            this.roofTypeGroup = this.roofTypeGroups[0];
            this.roofTypes = this.roofTypeGroup.roof_types
        },
        methods: {
            onChangeRoofTypeGroup(group) {
                this.roofTypeGroup = group;
                this.rebuildFields('roof_type_group');
            },

            onChangeRoofType() {
                this.roofType = this.roofTypes.find(roofType => roofType.id === this.estimate.roof_type_id);
                this.rebuildFields('roof_type');
            },

            onChangeManufacturer() {
                this.manufacturer = this.manufacturers.find(manufacturer => manufacturer.id === this.estimate.manufacturer_id);
                this.rebuildFields('manufacturer');
            },

            onChangeProduct() {
                this.product = this.products.find(product => product.id === this.estimate.product_id);
                this.rebuildFields('product');
            },

            rebuildFields(level) {
                if (level === 'roof_type_group') this.estimate.roof_type_id = this.estimate.manufacturer_id = this.estimate.product_id = this.estimate.series_id = '';
                if (level === 'roof_type') this.estimate.manufacturer_id = this.estimate.product_id = this.estimate.series_id = '';
                if (level === 'manufacturer') this.estimate.product_id = this.estimate.series_id = '';
                if (level === 'product') this.estimate.series_id = '';

                if (this.roofTypeGroup) {
                    this.roofTypes = this.roofTypeGroup.roof_types
                } else {
                    this.roofTypes = this.roofType = [];
                    this.estimate.roof_type_id = "";
                }

                if (this.estimate.roof_type_id) {
                    this.manufacturers = this.roofType.manufacturers;
                } else {
                    this.manufacturers = this.manufacturer = [];
                    this.estimate.manufacturer_id = "";
                }

                if (this.estimate.manufacturer_id) {
                    this.products = this.manufacturer.product_lines.filter(product => product.roof_type_id === this.estimate.roof_type_id);
                } else {
                    this.products = this.product = [];
                    this.estimate.product_id = "";
                }

                if (this.estimate.product_id) {
                    this.series = this.product.series;
                } else {
                    this.series = this.seriesProduct = [];
                    this.estimate.series_id = "";
                }
            },
        },
        props: ['roof-type-groups']
    }
</script>
