$sizes: (0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,
        56,57,58,59,60,61,62,63,64,65,66,67,68,69,70);

$fontWeights:(100,200,300,400,500,600,700,800,900);

@each $size in $sizes{
    .font-s-#{$size}{
        font-size: #{$size}px !important;
    }

    //Custom Margin Classes
    .margin-t-#{$size}{
        margin-top: #{$size}px !important;
    }
    .margin-r-#{$size}{
        margin-right: #{$size}px !important;
    }
    .margin-b-#{$size}{
        margin-bottom: #{$size}px !important;
    }
    .margin-l-#{$size}{
        margin-left: #{$size}px !important;
    }
    .margin-x-#{$size}{
        margin-left: #{$size}px !important;
        margin-right: #{$size}px !important;
    }
    .margin-y-#{$size}{
        margin-top: #{$size}px !important;
        margin-bottom: #{$size}px !important;
    }

    //Custom Padding Classes
    .padding-t-#{$size}{
        padding-top: #{$size}px !important;
    }
    .padding-r-#{$size}{
        padding-right: #{$size}px !important;
    }
    .padding-b-#{$size}{
        padding-bottom: #{$size}px !important;
    }
    .padding-l-#{$size}{
        padding-left: #{$size}px !important;
    }
    .padding-x-#{$size}{
        padding-left: #{$size}px !important;
        padding-right: #{$size}px !important;
    }
    .padding-y-#{$size}{
        padding-top: #{$size}px !important;
        padding-bottom: #{$size}px !important;
    }
}

@each $weight in $fontWeights{
    .fw-#{$weight}{
        font-weight: #{$weight} !important;
    }
}
