.banner{
    position: relative;
    height: calc(100vh - 80px);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &_content{
        position: absolute;
        width: 100%;
        bottom: 0;
    }
    .lowest-order-shape{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 67%;
        background: rgba(255,255,255,.85);
        z-index: 1;
        clip-path: polygon(0 0, 100% 100%, 100% 0);
    }
    .middle-order-shape{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 67%;
        background: rgba(255,255,255,1);
        z-index: 2;
        clip-path: polygon(0 100%, 100% 100%, 100% 0);

        .shape-content-wrapper{
            position: relative;
            top: 81%;
        }
    }
    .highest-order-shape{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 72%;
        background: rgba(255, 161, 0, 1);
        z-index: 3;
        clip-path: polygon(0 0, 100% 85%, 100% 0);
    }
}
