.navbar.navbar-light{
    .navbar-nav{
        .nav-item{
            margin-right: 45px;
            .nav-link{
                color: #606060;
                font-size: 18px;
            }
            .nav-link.sign-in-btn{
                background: #FFA100;
                color: #FFFFFF;
                border-radius: 21px;
                padding: 7px 30px;
                font-size: 17px;
            }
        }
        .nav-item:last-child{
            margin-right: 0;
        }
    }
}
