<template>
    <div class="form-group" :class="classes">
        <label v-if="label">Address</label>
        <div class="d-flex align-items-center">
            <div class="input-group mr-4">
                <div class="input-group-prepend">
                    <div class="input-group-text"><em class="fas fa-search"></em></div>
                </div>
                <vue-google-autocomplete
                    :value="address.full_address"
                    ref="location"
                    :id="this.prefix === undefined ? `location_autocomplete` : `${this.prefix}_location_autocomplete`"
                    classname="form-control"
                    placeholder="Start typing"
                    v-on:placechanged="getAddress"
                >
                </vue-google-autocomplete>
            </div>
            <input type="hidden" v-model="address.full_address" :name="getNameAttribute('full_address')">
            <input type="hidden" v-model="address.zip_code" :name="getNameAttribute('zip_code')">
            <input type="hidden" v-model="address.street" :name="getNameAttribute('street')">
            <input type="hidden" v-model="address.city" :name="getNameAttribute('city')">
            <input type="hidden" v-model="address.county" :name="getNameAttribute('county')">
            <input type="hidden" v-model="address.state" :name="getNameAttribute('state')">
            <input type="hidden" v-model="address.country" :name="getNameAttribute('country')">
            <input type="hidden" v-model="address.latitude" :name="getNameAttribute('latitude')">
            <input type="hidden" v-model="address.longitude" :name="getNameAttribute('longitude')">

            <i class="fa fa-map-marker theme-primary-color"></i>
        </div>
    </div>
</template>

<script>

export default {
    components: {},
    data() {
        return {
            address: {
                zip_code: this._old.address ? this._old.address.zip_code : '',
                street: this._old.address ? this._old.address.street : '',
                city: this._old.address ? this._old.address.city : '',
                county: this._old.address ? this._old.address.city : '',
                state: this._old.address ? this._old.address.state : '',
                country: this._old.address ? this._old.address.country : '',
                latitude: this._old.address ? this._old.address.latitude : '',
                longitude: this._old.address ? this._old.address.longitude : '',
                full_address: this._old.address ? this._old.address.full_address : '',
            },
        }
    },
    mounted() {
        /*this.$refs.address.focus();*/
    },
    methods: {

        getAddress(addressData, placeResultData, id, address) {

            this.address.full_address = address;
            this.address.zip_code = addressData.postal_code ? addressData.postal_code : '';
            this.address.street = addressData.street_number + ' ' + addressData.route;
            this.address.city = addressData.locality;
            this.address.county = addressData.administrative_area_level_2;
            this.address.state = addressData.administrative_area_level_1;
            this.address.country = addressData.country;
            this.address.latitude = addressData.latitude;
            this.address.longitude = addressData.longitude;
        },

        getNameAttribute(name)
        {
            let prefix = this.$props.prefix;
            return prefix !== undefined ? `${prefix}[address][${name}]` : `address[${name}]`;
        },
    },
    props: {
        old_address: {
            default: '',
            required: false
        },
        label: {
            default: true
        },
        classes: {
            default: ''
        },
        _old: '',
        prefix: {
            required: false
        },
    }
}
</script>
