<template>
    <div>
        <div v-for="(contact, i) in contacts" class="form-group">
            <label for="number">{{ i === 0 ? 'Primary Phone' : 'Additional Phone'}}</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <select class="form-control rounded-right-0" id="type" :name="getNameAttribute(i, 'type')"
                            v-model="contact.type">
                        <option value="">Select</option>
                        <option v-for="type in contact_types" :value="type">{{ type }}</option>
                    </select>
                </div>
                <input id="number" required type="text"  class="form-control"
                       :name="getNameAttribute(i, 'number')" v-model="contact.number">
                <div class="input-group-append">
                    <input class="extension-input" type="text" placeholder="Extension" :name="getNameAttribute(i, 'extension')" v-model="contact.extension">
                </div>
                <div class="input-group-append" v-if="i !== 0 ">
                    <div class="input-group-btn btn btn-light text-danger" @click.prevent="removeContact(contact)">
                        <em class="fal fa-minus-circle"></em>
                    </div>
                </div>
                <div class="input-group-append" v-if="contacts.length === i+1 && contacts.length < 3">
                    <div class="input-group-btn btn btn-light text-primary"  @click.prevent="addContact">
                        <em class="fal fa-plus-circle"></em>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    export default {
        components: {},
        data(){
            return {
                contact_types: ['Cell', 'Home', 'Fax', 'Work'],
                contacts: [],
                contact: {
                    'type': 'Cell',
                    'extension': ''
                }
            }
        },
        beforeMount() {


            let vm = this;
            if (this.$props.old_contacts.length) {
                $.each(this.$props.old_contacts, function (index, contact) {
                    vm.contacts.push(Object.assign({}, contact));
                });
            } else {
                this.contacts.push(Object.assign({}, this.contact));
            }
        },
        mounted() {
            /*this.$refs.address.focus();*/
        },
        methods: {
            addContact() {
                this.contacts.push(Object.assign({}, this.contact));
            },

            getNameAttribute(index, name)
            {
                let prefix = this.$props.prefix;
                return prefix !== undefined ? `${prefix}[phones][${index}][${name}]` : `phones[${index}][${name}]`;
            },

            removeContact(row) {
                this.contacts = this.contacts.filter(contact => contact !== row);
            },

        },
        props: [
            'old_contacts',
            'prefix'
        ],
    }
</script>
