<template>
    <div class="row mb-3">
        <div class="col">
            <label for="response_type_id">Correspondence Type</label>
            <select class="form-control" name="response_type_id" id="response_type_id"
                    :class="{'is-invalid' : errors && errors.response_type_id}" v-model="response_type_id">
                <option value="">Select</option>
                <option :value="response.id" v-for="response in response_types">{{ response.name }}</option>
            </select>
            <error-slot v-if="errors && errors.response_type_id" :field="`response_type_id`"
                        :errors="errors"></error-slot>
        </div>

        <div class="col" v-if="response_type_id=== 55">
            <label for="coverage_type_id">Type</label>
            <select class="form-control" name="coverage_type_id" id="coverage_type_id" v-model="insurance_coverage_type_id"
                    :class="{'is-invalid' : errors && errors.insurance_coverage_type_id}" >
                <option value="">Select</option>
                <option :value="type.id" v-for="type in insurance_coverage_types">{{ type.name }}</option>
            </select>
            <error-slot v-if="errors && errors.insurance_coverage_type_id" :field="`insurance_coverage_type_id`"
                        :errors="errors"></error-slot>
        </div>

        <div class="col" v-if="response_type_id=== 55 && insurance_coverage_type_id=== 58">
            <label>Amount:</label>
            <input type="text" class="bg-white form-control" :class="{'is-invalid' : errors && errors.response_type_id}"
                   name="coverage_amount" id="amount" placeholder="Enter Amount">
            <error-slot v-if="errors && errors.response_type_id" :field="`response_type_id`"
                        :errors="errors"></error-slot>
        </div>

        <div class="col" v-if="response_type_id=== 55 && insurance_coverage_type_id=== 60">
            <label for="denial_reason">Deny Reason</label>
            <select class="form-control" name="denial_reason_id" id="denial_reason"
                    :class="{'is-invalid' : errors && errors.response_type_id}">
                <option value="">Select</option>
                <option :value="response.id" v-for="response in coverage_denial_reasons">{{  response.name }}</option>
            </select>
            <error-slot v-if="errors && errors.response_type_id" :field="`response_type_id`"
                        :errors="errors"></error-slot>
        </div>
    </div>
</template>

<script>
export default {
    data(){
        return {
            response_type_id: '',
            insurance_coverage_type_id: '',
            errors: null,
        }
    },
    mounted() {
        this.errors = this._errors;
    },
    props: ['response_types', 'insurance_coverage_types', 'coverage_denial_reasons', '_errors']
}
</script>

