<template>
    <div class="form-group col-6">
        <label for="customer_search">Select Customer <span style="font-size: 10px">
            <a href="#" @click="showModal">or ( Add New + )</a></span></label>
        <select class="form-control" id="customer_search" name="customer_id"
                :class="{'is-invalid' : errors && errors.customer_id}">
            <option v-if="customers" v-for="customer in customers" :value="customer.id">
                {{ customer.first_name +" "+ customer.last_name + " (" +customer.email + " )" }}
            </option>
            <option v-else>Search for Existing Customer</option>
        </select>
        <error-slot v-if="errors && errors.customer_id" :field="`customer_id`" :errors="errors"></error-slot>

        <modal-slot id="customerModal">
            <h4 class="text-center mt-2">Add Customer</h4>
            <form @submit.prevent="addCustomer()" method="POST"
                  enctype="multipart/form-data">

                <div class="form-row">
                    <div class="form-group col-6">
                        <label for="customer_first_name">First Name:</label>
                        <input type="text" id="customer_first_name" name="first_name" v-model="form.first_name"
                               class="form-control" :class="{'is-invalid' : errors && errors.first_name}">
                        <error-slot v-if="errors && errors.first_name"
                                    :field="`first_name`" :errors="errors">
                        </error-slot>
                    </div>

                    <div class="form-group col-6">
                        <label for="customer_last_name">Last Name:</label>
                        <div class="input-group">
                            <input id="customer_last_name" type="text"
                                   class="form-control" name="last_name" v-model="form.last_name"
                                   :class="{'is-invalid' : errors && errors.last_name}">
                            <div class="input-group-append" v-if="!other_name">
                                <div class="input-group-btn btn btn-light text-primary" @click="toggleSecondaryName">
                                    <em class="fal fa-plus-circle"></em>
                                </div>
                            </div>
                            <error-slot v-if="errors && errors.last_name"
                                        :field="`last_name`" :errors="errors">
                            </error-slot>
                        </div>
                    </div>


                    <div class="form-group col-6" v-if="other_name">
                        <label for="customer_secondary_first_name">Secondary First Name:</label>
                        <input type="text" id="customer_secondary_first_name" name="secondary_first_name"
                               v-model="form.secondary_first_name"
                               class="form-control" :class="{'is-invalid' : errors && errors.secondary_first_name}">
                        <error-slot v-if="errors && errors.secondary_first_name"
                                    :field="`secondary_first_name`" :errors="errors">
                        </error-slot>
                    </div>

                    <div class="form-group col-6" v-if="other_name">
                        <label for="customer_secondary_last_name">Secondary Last Name:</label>
                        <div class="input-group">
                            <input id="customer_secondary_last_name" type="text" class="form-control"
                                   name="secondary_last_name" v-model="form.secondary_last_name"
                                   :class="{'is-invalid' : errors && errors.secondary_last_name}">
                            <div class="input-group-append" v-if="other_name">
                                <div class="input-group-btn btn btn-light text-danger" @click="toggleSecondaryName">
                                    <em class="fal fa-minus-circle"></em>
                                </div>
                            </div>
                            <error-slot v-if="errors && errors.secondary_last_name"
                                        :field="`secondary_last_name`" :errors="errors">
                            </error-slot>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="customer_email">Email:</label>
                    <input type="email" id="customer_email" name="email" v-model="form.email"
                           class="form-control" :class="{'is-invalid' : errors && errors.email}">
                    <error-slot v-if="errors && errors.email" :field="`email`" :errors="errors"></error-slot>
                </div>

                <div class="form-group">
                    <label for="customer_cell_phone">Cell Phone:</label>
                    <input type="text" id="customer_cell_phone" name="cell_phone" v-model="form.cell_phone"
                           class="form-control" :class="{'is-invalid' : errors && errors.cell_phone}">
                    <error-slot v-if="errors && errors.cell_phone" :field="`cell_phone`" :errors="errors"></error-slot>
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-success btn-sm">Create</button>
                </div>
            </form>
        </modal-slot>
    </div>

</template>

<script>
    export default {
        data() {
            return {
                errors: null,
                other_name: false,
                customers: {},
                form: {},
            }
        },

        methods: {
            showModal() {
                this.form = Object.assign({});
                this.errors = null;
                this.other_name = false;
                $('#customerModal').modal('show');
            },

            clearForm() {
                this.form = Object.assign({});
                this.errors = null;
                this.other_name = false;
                $('#customerModal').modal('hide');
                $('.modal-backdrop').remove();
            },

            addCustomer() {
                axios.post('/api/customers', this.form)
                    .then((response) => {
                        console.log(response.data);
                        this.customers.unshift(response.data);
                        this.clearForm();
                    })
                    .catch(e => {
                        this.errors = e.data.errors;
                        console.log(e.data.errors);
                    });
            },

            toggleSecondaryName() {
                if (this.other_name) {
                    delete this.form.secondary_first_name;
                    delete this.form.secondary_last_name;
                }
                this.other_name = !this.other_name;
            }
        },

        props: ['_customers', '_errors'],

        mounted() {
            this.customers = this._customers;
            this.errors = this._errors;
        },
    }
</script>

<style scoped>

</style>
