<template>
    <div class="form-group col-12">
        <div class="form-row">
            <div class="form-group col-6">
                <label for="customer_first_name">First Name:</label>
                <input type="text" id="customer_first_name" name="customer[first_name]" v-model="form.first_name"
                       class="form-control" :class="{'is-invalid' : errors && errors['customer.first_name']}">
                <error-slot v-if="errors && errors['customer.first_name']"
                            :field="`customer.first_name`" :errors="errors">
                </error-slot>
            </div>

            <div class="form-group col-6">
                <label for="customer_last_name">Last Name:</label>
                <div class="input-group">
                    <input id="customer_last_name" type="text"
                           class="form-control" name="customer[last_name]" v-model="form.last_name"
                           :class="{'is-invalid' : errors && errors['customer.last_name']}">
                    <div class="input-group-append" v-if="!other_name">
                        <div class="input-group-btn btn btn-light text-primary" @click="toggleSecondaryName">
                            <em class="fal fa-plus-circle"></em>
                        </div>
                    </div>
                    <error-slot v-if="errors && errors['customer.last_name']"
                                :field="`customer.last_name`" :errors="errors">
                    </error-slot>
                </div>
            </div>


            <div class="form-group col-6" v-if="other_name">
                <label for="customer_secondary_first_name">Secondary First Name:</label>
                <input type="text" id="customer_secondary_first_name" name="customer[secondary_first_name]"
                       v-model="form.secondary_first_name"
                       class="form-control" :class="{'is-invalid' : errors && errors.secondary_first_name}">
                <error-slot v-if="errors && errors.secondary_first_name"
                            :field="`secondary_first_name`" :errors="errors">
                </error-slot>
            </div>

            <div class="form-group col-6" v-if="other_name">
                <label for="customer_secondary_last_name">Secondary Last Name:</label>
                <div class="input-group">
                    <input id="customer_secondary_last_name" type="text" class="form-control"
                           name="customer[secondary_last_name]" v-model="form.secondary_last_name"
                           :class="{'is-invalid' : errors && errors.secondary_last_name}">
                    <div class="input-group-append" v-if="other_name">
                        <div class="input-group-btn btn btn-light text-danger" @click="toggleSecondaryName">
                            <em class="fal fa-minus-circle"></em>
                        </div>
                    </div>
                    <error-slot v-if="errors && errors.secondary_last_name"
                                :field="`secondary_last_name`" :errors="errors">
                    </error-slot>
                </div>
            </div>

            <div class="form-group col-6">
                <label for="customer_email">Email:</label>
                <input type="email" id="customer_email" name="customer[email]" v-model="form.email"
                       class="form-control" :class="{'is-invalid' : errors && errors['customer.email']}">
                <error-slot v-if="errors && errors['customer.email']" :field="`customer.email`" :errors="errors"></error-slot>
            </div>

            <div class="form-group col-6">
                <label for="customer_cell_phone">Cell Phone:</label>
                <input type="text" id="customer_cell_phone" name="customer[cell_phone]" v-model="form.cell_phone"
                       class="form-control" :class="{'is-invalid' : errors && errors['customer.cell_phone']}">
                <error-slot v-if="errors && errors['customer.cell_phone']" :field="`customer.cell_phone`" :errors="errors"></error-slot>
            </div>
        </div>
    </div>

</template>

<script>
export default {
    data() {
        return {
            errors: null,
            other_name: false,
            form: {
                first_name: this._old.customer ? this._old.customer.first_name: '',
                last_name: this._old.customer ? this._old.customer.last_name: '',
                email: this._old.customer ? this._old.customer.email: '',
                cell_phone: this._old.customer ? this._old.customer.cell_phone: '',
            },
        }
    },

    methods: {
        toggleSecondaryName() {
            console.log(!this.other_name);
            if (this.other_name) {
                delete this.form.secondary_first_name;
                delete this.form.secondary_last_name;
            }
            console.log(this.other_name);
            this.other_name = !this.other_name;
        }
    },

    props: ['_errors', '_old'],

    mounted() {
        this.errors = this._errors;
    },
}
</script>
