<template>
    <div>
        <div v-for="(contact, i) in emails" class="form-group">
            <label for="email">{{ i === 0 ? 'Primary Email' : 'Additional Email'}}</label>
            <div class="input-group">
                <input id="email" type="email" required class="form-control"
                       :name="getNameAttribute(i, 'email')" v-model="contact.email">
                <div class="input-group-append" v-if="i !== 0 ">
                    <div class="input-group-btn btn btn-light text-danger" @click.prevent="removeContact(contact)">
                        <em class="fal fa-minus-circle"></em>
                    </div>
                </div>
                <div class="input-group-append" v-if="emails.length === i+1 && emails.length < 3">
                    <div class="input-group-btn btn btn-light text-primary"  @click.prevent="addContact">
                        <em class="fal fa-plus-circle"></em>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

export default {
    components: {},
    data(){
        return {

            emails: [],
            contact: {
                'email': '',
                //'extension': ''
            }
        }
    },
    beforeMount() {
        this.emails.push(Object.assign({}, this.contact));
    },
    mounted() {
        /*this.$refs.address.focus();*/
    },
    methods: {
        addContact() {
            this.emails.push(Object.assign({}, this.contact));
        },

        getNameAttribute(index, name)
        {
            let prefix = this.$props.prefix;
            return prefix !== undefined ? `${prefix}[emails][${index}][${name}]` : `emails[${index}][${name}]`;
        },

        removeContact(row) {
            this.emails = this.emails.filter(contact => contact !== row);
        },

    },
    props: [
        'old_emails',
        'prefix'
    ],
}
</script>
