<template>
    <div id="pano"></div>
</template>

<script>
export default {
    name: "GoogleStreetViewer",
    data() {
        return {
         /*   lat: 42.345573,
            lng: -71.098326*/
        }
    },
    mounted: function () {
        {
            const panorama = new google.maps.StreetViewPanorama(
                document.getElementById("pano"),
                {
                    position: {
                        lat: this.lat?? 42.345573 ,
                        lng: this.lng?? -71.098326 ,
                    },
                    addressControlOptions: {
                        position: google.maps.ControlPosition.BOTTOM_CENTER
                    },
                    linksControl: false,
                    panControl: false,
                    enableCloseButton: false
                }
            );
        }
    },
    props: ['lng', 'lat'],
}
</script>

<style scoped>
#pano {
    width: 100%;
    height: 36%;
}
</style>
