<template>
    <div class="form-group col-6">
        <label for="customer_search_field">Select Insurance Carrier <span style="font-size: 10px">
            <a href="#" @click="showModal()">or ( Add New + )</a></span></label>
        <select class="form-control" id="customer_search_field" name="insurance_carrier_id"
                :class="{'is-invalid' : errors && errors.insurance_carrier_id}" v-model="form.insurance_carrier_id">
            <option value="">Select</option>
            <option v-if="insurance_carriers" v-for="insurance in insurance_carriers" :value="insurance.id">
                {{ insurance.name }}
            </option>
            <option v-else>Search for Existing Customer</option>
        </select>
        <error-slot v-if="errors && errors.insurance_carrier_id" :field="`insurance_carrier_id`"
                    :errors="errors"></error-slot>

        <modal-slot id="insurance-carrier-modal">
            <h4 class="text-center mt-2">Add Insurance Carrier</h4>
            <form @submit.prevent="addCustomer()" method="POST"
                  enctype="multipart/form-data">

                <div class="form-row">
                    <div class="form-group col-6">
                        <label for="insurance_carrier_name">Name:</label>
                        <input type="text" id="insurance_carrier_name" name="name" v-model="form.name"
                               class="form-control" :class="{'is-invalid' : errors && errors.name}">
                        <error-slot v-if="errors && errors.name" :field="`name`" :errors="errors"></error-slot>
                    </div>

                    <div class="form-group col-6">
                        <label for="insurance_carrier_email">Email:</label>
                        <input type="email" id="insurance_carrier_email" name="email" v-model="form.email"
                               class="form-control" :class="{'is-invalid' : errors && errors.email}">
                        <error-slot v-if="errors && errors.email" :field="`email`" :errors="errors"></error-slot>
                    </div>
                </div>

                <div class="form-group">
                    <label for="insurance_carrier_website">Website:</label>
                    <input type="text" id="insurance_carrier_website" name="website" v-model="form.website"
                           class="form-control" :class="{'is-invalid' : errors && errors.website}">
                    <error-slot v-if="errors && errors.website" :field="`website`" :errors="errors"></error-slot>
                </div>

                <div class="form-group">
                    <label for="insurance_carrier_claims_url">Claims Url:</label>
                    <input type="text" id="insurance_carrier_claims_url" name="claims_url" v-model="form.claims_url"
                           class="form-control" :class="{'is-invalid' : errors && errors.claims_url}">
                    <error-slot v-if="errors && errors.claims_url" :field="`website`" :errors="errors"></error-slot>
                </div>

                <div class="form-row">
                    <div class="form-group col-6">
                        <label for="insurance_carrier_phone">Phone:</label>
                        <input type="text" id="insurance_carrier_phone" name="phone" v-model="form.phone"
                               class="form-control" :class="{'is-invalid' : errors && errors.phone}">
                        <error-slot v-if="errors && errors.phone" :field="`phone`" :errors="errors"></error-slot>
                    </div>

                    <div class="form-group col-6">
                        <label for="insurance_carrier_claims_phone">Claims Phone:</label>
                        <input type="text" id="insurance_carrier_claims_phone" name="claims_phone"
                               v-model="form.claims_phone"
                               class="form-control" :class="{'is-invalid' : errors && errors.claims_phone}">
                        <error-slot v-if="errors && errors.claims_phone" :field="`claims_phone`"
                                    :errors="errors"></error-slot>
                    </div>
                </div>

                <div class="form-group text-center">
                    <button type="submit" class="btn btn-success btn-sm">Create</button>
                </div>
            </form>
        </modal-slot>
    </div>

</template>

<script>
export default {
    data() {
        return {
            errors: null,
            insurance_carriers: {},
            form: {
                insurance_carrier_id: this._old.insurance_carrier_id ?? '',
            },
        }
    },

    methods: {
        showModal() {
            this.form = Object.assign({});
            this.errors = null;
            $('#insurance-carrier-modal').modal('show');
        },

        clearForm() {
            this.form = Object.assign({});
            this.errors = null;
            $('#insurance-carrier-modal').modal('hide');
            $('.modal-backdrop').remove();
        },

        addCustomer() {
            axios.post('/api/insurance-carriers', this.form)
                .then((response) => {
                    this.insurance_carriers.unshift(response.data);
                    let source = {insurance_carrier_id: response.data.id};
                    this.clearForm();
                    this.form = Object.assign(this.form, source);
                })
                .catch(e => {
                    this.errors = e.data.errors;
                    console.log(e.data.errors);
                });
        },
    },

    props: ['_insurances', '_errors', '_old'],

    mounted() {
        this.insurance_carriers = this._insurances;
        this.errors = this._errors;
    },
}
</script>

<style scoped>

</style>
