<template>
    <div class="form-group col-6">
        <label for="mortgageCompany_search">Select Mortgage Company <span style="font-size: 10px">
            <a href="#" @click="showModal">or ( Add New + )</a></span></label>
        <select class="form-control" id="mortgageCompany_search" name="mortgage_company_id"
                :class="{'is-invalid' : errors && errors.mortgage_company_id}" v-model="form.mortgage_company_id">
            <option value="">Select</option>
            <option v-if="mortgageCompanies" v-for="mortgageCompany in mortgageCompanies" :value="mortgageCompany.id">
                {{ mortgageCompany.name }}
            </option>
            <option v-else>Search for Existing Mortgage Company</option>
        </select>
        <error-slot v-if="errors && errors.mortgage_company_id" :field="`mortgage_company_id`"
                    :errors="errors"></error-slot>

        <modal-slot id="mortgageCompanyModal">
            <h4 class="text-center mt-2">Add Mortgage Company</h4>
            <form @submit.prevent="addMortgageCompany()" method="POST"
                  enctype="multipart/form-data">

                <div class="form-row">
                    <div class="form-group col-12">
                        <label for="name">Name:</label>
                        <input type="text" id="name" name="name" v-model="form.name"
                               class="form-control" :class="{'is-invalid' : errors && errors.name}">
                        <error-slot v-if="errors && errors.name" field="`name`" :errors="errors"></error-slot>
                    </div>
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-success btn-sm">Create</button>
                </div>
            </form>
        </modal-slot>
    </div>

</template>

<script>
export default {
    data() {
        return {
            errors: null,
            mortgageCompanies: {},
            form: {
                mortgage_company_id: this._old.mortgage_company_id ?? '',
            },
        }
    },

    methods: {
        showModal() {
            this.form = Object.assign({});
            this.errors = null;
            this.other_name = false;
            $('#mortgageCompanyModal').modal('show');
        },

        clearForm() {
            this.form = Object.assign({});
            this.errors = null;
            $('#mortgageCompanyModal').modal('hide');
            $('.modal-backdrop').remove();
        },

        addMortgageCompany() {
            axios.post('/api/mortgageCompanies', this.form)
                .then((response) => {
                    this.mortgageCompanies.unshift(response.data);
                    let source = {mortgage_company_id: response.data.id};
                    this.clearForm();
                    this.form = Object.assign(this.form, source);
                })
                .catch(e => {
                    this.errors = e.data.errors;
                    console.log(e.data.errors);
                });
        },
    },

    props: ['_mortgageCompanies', '_errors', '_old'],

    mounted() {
        this.mortgageCompanies = this._mortgageCompanies;
        this.errors = this._errors;
    },
}
</script>

<style scoped>

</style>
