//FEEDBACK CAROUSEL
.feedback-slider.owl-carousel.owl-theme{
    .owl-item{
        .item{
            .card{
                padding: 40px 0;

                .card-body{
                    padding: 10px 52px;
                }
            }
        }
    }

}

//FEEDBACK CAROUSEL
.showcase-slider.owl-carousel.owl-theme{

    .owl-dots{
        .owl-dot:nth-child(n+3){
            display: none;
        }
    }
    .owl-item{
        .item{
            position: relative;

            &:before{
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background: rgba(255,255,255,.8);
            }
            }
        }
        .owl-item.active.center{
            transform: scale(1.1, 1.2);
            .item{
                position: relative;
                &:before{
                    content: '';
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    background: rgba(255,255,255,0);
                }
            }
        }

}

//COMMON STYLING IN CAROUSELS

.owl-carousel.owl-theme{
    .owl-nav{
        display: none;
    }
    .owl-dots{
        margin-top: 30px;

        .owl-dot{
            span{
                width: 48px;
                height: 9px;
            }
        }
        .owl-dot.active{
            span{
               background-color: #FFA100;
            }
        }
    }
}
