.showcase-gallery{
    .fix-container-height::after{
        clear: both;
        display: block;
        content: "";
    }
    div.gallery{
        background: #FFFFFF;
        display: flex;
        justify-content: space-between;
    }
    div.gallery > section{
        clear: both;
        width: 32%;
        h1{
            &::after{
                display: block;
                clear: both;
                content: "";
            }
        }
        &::after{
            display: block;
            clear: both;
            content: "";
        }
    }
    div.gallery > section > div{
        width: 100%;
        border: 0;
        margin: 0;
        h1{
            display: none;
        }
        &:nth-of-type(n+2) {
            display:none;
        }
    }


    div.gallery > section > div > a > img{
        max-width: 100%;
        height: 180px;
        box-sizing: border-box;
        display: block;
        width: 100%;
        object-fit: cover;
        margin: 0;
        padding: 0;
    }

}
